.projects-page {


    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        opacity: 0;
        animation: fadeInDown 1s 1s forwards;
        animation-fill-mode: forwards;
        margin: auto;
        
    }

    h1 {
        text-align: center;
        color: #fff;
        font-size: 5em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        letter-spacing: 3px;
        opacity: 0;
        animation: fadeInUp 1s 1s forwards;
        animation-fill-mode: forwards;
    
    }



    .card {
        display: block;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        width: 45em;
        max-width: 45em;
        min-width: 20em;
        height: 40em;
        background-color: transparent;
        border: 2px solid white;
        margin: 3em;
        
    
  
        &:hover {
            border: 2px solid rgb(0, 12, 149);
        }

    }

    @media (max-width: 768px) {
        .projects {
            margin: auto;
        }

        .card {
            width: 25em;
        }
    }

    @media (max-width: 300px) {
       
        .card {
            width: 20em;
        }
        h1 {
            font-size: 3em;
        }
    }
        .pic-container {
            display: flex;
            background-color: #fff;
            width: 100%;
            height: 50%;

        .pic {
            width: 100%;
            margin-top: 0em;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border: 0px solid #f2f2f2
        }

    }
        .text {
            text-align: center;
            margin: auto;
            display: flex;
            flex-direction: column;
            color: #ffffff;
        
            .tech-container { 
                text-align: center;
                margin-bottom: 1em;
            }
            .tech-item {
                background: rgb(255, 255, 255);
                display: inline;
                border-radius: 5px;
                padding: 5px;
                margin: 5px;
                color: #000000;
                font-weight: bold;
            }
        }

            .link {
                background: rgb(0, 0, 0);
                border-radius: 5px;
                border: 1px solid #ffffff;
                padding: 10px;
                width: 50%;
                margin: auto;
                margin-top: 10px;
                color: #ffffff;
                font-weight: bold;
                font-size: 12px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
        


