.App {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  background-color: black;
}

.content {
    width: 100%;
    position: relative;
    overflow-y: auto;

}

.container {
    width: 100%;
    will-change: contents;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;
  
}




