.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;

    .text {
        width: 80%;
        max-height: 90%;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    h1 {
        width: 50%;
        color: #ffffff;
        font-size: 4em;
        margin: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        opacity: 0;
        animation: fadeInUp 1s 1s forwards;
        animation-fill-mode: forwards;
        background-color: #333;
        padding: 10px;
        border-radius: 10px;
    }

    h2 {
        width: 50%;
        font-size: 2.5em;
        color: #ffffff;
        margin-top: 2em;
        font-weight: 400;
        letter-spacing: 2px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        opacity: 0;
        animation: fadeInDown 1s 1s forwards;
        animation-fill-mode: forwards;

    }

    .portfolio-info {
        opacity: 0;
        animation: fadeInUp 1s 1s forwards;
        animation-fill-mode: forwards;

        p {
            font-size: 2em;
            color: #ffffff;
        }

        .btn {
            padding: 10px;
            width: 10em;
            background: rgb(0, 0, 0);
            border-radius: 5px;
            border: 1px solid #ffffff;
            color: #ffffff;
            font-weight: bold;

            &:hover {
                cursor: pointer;
            }
        }
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 2.5em;
        }

        h2 {
            font-size: 2em;
        }
    }

    @media (max-width: 500px) {
        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.5em;
        }

        .portfolio-info p {
            font-size: 1em;
        }
    }

    @media (max-width: 330px) {
        h1 {
            font-size: 1.3em;
        }

        h2 {
            font-size: 1em;
        }

        .portfolio-info p {
            font-size: 1em;
        }

        .portfolio-info .btn {
            width: 7em;
        }
    }
}